ul{
 margin:0;
}
.carousel{
	margin:0;
}
.carousel-caption {
  padding: 5%;
  	left: 60%;
	right: 0;
	bottom: 0;
	top:0;
    overflow: hidden;
	background: rgba(0, 150, 150, 1);
		    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
}
.carousel-caption:hover {
  	left: 60%;
	right: 0;
	bottom: 0;
	top:0;
    overflow: hidden;
	background: rgba(0, 120, 190, 1);
	opacity: 0;
	    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
}
.positionrela{
	position: relative;
}
#caption2{
	top:65%;
	left:0;
	right:30%;
	height: 40px;
	    overflow: hidden;
	background: rgba(0, 120, 190, 1);
		    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
}
#captiontext{
	color:white;
}